# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Exclude binary- and temporary files
*.pdb
*.suo
*.pyc
*.db
*pingme.txt
MIDI_Harfe_PC_Windows/.vs
MIDI_Harfe_PC_Windows/C-Control PRO Visualisieren/bin
MIDI_Harfe_PC_Windows/C-Control PRO Visualisieren/obj
MIDI_Harfe_PC_Windows/Sanford.Multimedia.Midi/bin
MIDI_Harfe_PC_Windows/Sanford.Multimedia.Midi/obj
MIDI_Harfe_Keygenerator/MIDI Harfe Keygenerator/bin
MIDI_Harfe_Keygenerator/MIDI Harfe Keygenerator/obj