<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C_Control_PRO_Visualisieren.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <C_Control_PRO_Visualisieren.My.MySettings>
            <setting name="Tackt_Zaehler_Input" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Tackt_Naenner_Input" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BPM" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MIDI_NormalMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Messintervall_NumericUpDown" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="META_Dateinamen_Input" serializeAs="String">
                <value />
            </setting>
            <setting name="META_Autor_Input" serializeAs="String">
                <value />
            </setting>
            <setting name="META_Spurnamen_Input" serializeAs="String">
                <value />
            </setting>
            <setting name="META_Copyright_Input" serializeAs="String">
                <value />
            </setting>
            <setting name="META_Bemerkung_Input" serializeAs="String">
                <value />
            </setting>
            <setting name="Metronom_Betont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Metronom_ON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolTip_ON" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="C_Klappe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D_Klappe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E_Klappe" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="F_Klappe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G_Klappe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A_Klappe" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="H_Klappe" serializeAs="String">
                <value>1</value>
            </setting>
        </C_Control_PRO_Visualisieren.My.MySettings>
    </userSettings>
</configuration>
